div#gx_scoreboard_app{max-width: unset;}
.w-100{width: 100% !important;}
.m-0{margin: 0;}
.mt-0{margin-top: 0;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: 1rem;}

.p-0{padding: 0;}
.pt-0{padding-top: 0;}
.lists-style-none{list-style: none;}
.bg-blue{background-color: #529CFD;}
.text-white, .color-white{color: white;}
.text-uppercase{text-transform: uppercase;}
h2.score, h1.score, h3.score{font-size: 70px;}
.color-green{color: greenyellow;}
.bg-yellow{background-color: #FFC207;}
.border-0{border-width: 0;}
.mw-100{max-width: 100%;}
.border-rounded{border-radius: 500px;}
.item-center{align-items: center;}
.text-center{text-align: center;}
button[type=button].download-btn:hover{
    border-color: transparent;
}
button[type=button],
.border-white{border-color: white;}
button[type=button].download-btn{
    color: white;
}

.p-img{
    .el-image{
        overflow: hidden;
        width: 250px;
        img{
            max-width: 100%;
        }
    }
}
.socialWrap{
    .bg-social-img{
        width: 100%;
        height: 80px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 73px;
    }
}

.score-card {
    min-height: 215px;
    height: 215px;
}

//Responseive 
@media screen and (max-width: 540px) {
    .mt-xs-1{margin-top: 1rem;}
    .mt-xs-2{margin-top: 2rem;}
    .socialWrap .bg-social-img{
        background-size: 90px;
    }
}
