$color1: #529cfd;
$color2: #FFC207;
$color3: #18186e;

.color3{color: $color3 !important;}
.color1{color: $color1 !important;}
.color2{color: $color2 !important;}
.audit{
    >div{
        input{
            height: 50px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            appearance: none;
            border-width: 0;
            border-radius: 0.375rem;
        }
        span{
            color: white;
            i{
                color: white !important;
                &::before{
                    content: '\e78f';
                    font-size: 16px;
                }
            }
        }
    }
    &.audit1{
        >div{
            input{
                color: white;
                background-color: $color1;
            }
        }
    }
    &.audit2{
        >div{
            input{
                color: black;
                background-color: $color2;
                &::placeholder{
                    color: black;
                }
            }
        }
    }
}

div#gx_scoreboard_app{max-width: unset;}
.w-100{width: 100% !important;}
.m-0{margin: 0;}
.mt-0{margin-top: 0;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: 1rem;}
.p-10px{padding: 10px;}
.mb-10px{margin-bottom: 10px;}
.p-5{padding: 5rem;}
.p-1{padding: 1rem;}
.pl-1{padding-left: 1rem;}
.pr-1{padding-right: 1rem;}

.el-card.p-30px{
    >.el-card__body{
        padding: 30px;
    }
}

.el-card.plr-30px{
    >.el-card__body{
        padding-left: 30px;
        padding-right: 30px;
    }
}
.el-card.ptb-20px{
    >.el-card__body{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



.card-title{
    margin-bottom: 18px;
    text-transform: capitalize;
    font-size: 22px !important;
    color: #18186e;
}
.br-5px{border-radius: 5px;}
.br-10px{border-radius: 10px;}
.information-list li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    &:not(:last-child){
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #efefef;
    }
    strong{
        font-weight: 600;
        margin-right: 10px;
        color: #020202;
    }
}

.p-0{padding: 0;}
.pt-0{padding-top: 0;}
.lists-style-none{list-style: none;}
.bg-blue{background-color: #529CFD;}
.text-white, .color-white{color: white;}
.text-uppercase{text-transform: uppercase;}
h2.score, h1.score{font-size: 70px;}
.color-green{color: green;}
.color-red{color: red;}
.bg-yellow{background-color: #FFC207;}
.border-0 input, .border-0{border-width: 0 !important;}
.mw-100{max-width: 100%;}
.border-rounded{border-radius: 500px;}
.item-center{align-items: center;}
.text-center{text-align: center;}
.currentLocation{
    input{
    padding: 0;
    height: 20px;
    padding-right: 0;
    color: black;
     &::placeholder{color: black;}
    }
    span{
        color: black;
    }
}


button[type=button],
.border-white{border-color: white;}

.p-img{
    .el-image{
        overflow: hidden;
        width: 250px;
        img{
            max-width: 100%;
        }
    }
}
.socialWrap{
    .bg-social-img{
        width: 100%;
        height: 80px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 73px;
    }
}
.d-flex{display: flex;}
.justify-center{justify-content: center;}
.social-card{
    >.el-card__body{
        padding: 15px;
    }
    background-color: #EDF3FF;
    img{
        width: 30px;
    }
    .socialscore{
        display: flex;
        gap: 10px;
        >span{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            font-size: 18px;
            font-weight: 500;
            &:first-child{
                background-color: $color1;
                color: white;
            }   
            &:last-child{
                background-color: $color2;
                color: black;
            }
        }
    }
}
.score-card {
    background-color: #EDF3FF;
    h3.score{
        font-size: 64px;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.08);
    }
    .score-head{
        span{
            font-size: 14px;
            font-weight: 600;
            &.audit-date{
                margin-left: -10px
            }
            &.audit-point{
                margin-left: 20px;
                font-weight: 500;
            }
        }
    }
}

//Responseive 
@media screen and (max-width: 540px) {
    .mt-xs-1{margin-top: 1rem;}
    .mt-xs-2{margin-top: 2rem;}
    .socialWrap .bg-social-img{
        background-size: 90px;
    }
}

.reports{
    strong{
        color: $color1;
    }
    .download-btn{
        border-color: $color1 !important;
        color: $color1 !important;
        border-radius: 0.375rem;
        padding: .5rem 1rem;
        background-color: transparent !important;
        &:hover{
            background-color: $color1 !important;
            color: white !important;
        }
        &:focus{
            background-color: $color1;
            border-color: $color1;
            outline: none;
        }
        >span{
            >span{
                margin-right: 10px;
            }
            display: flex;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 500;
            align-items: center;
            .el-image{
                max-width: 50%;
                width: 30px;
            }
        }
    }
}

@media screen and (max-width: 555px) {
    .mb-d-block.el-row--flex{
        display: block;
    }
}

table.el-table__header{
    margin-bottom: 0;
}